@font-face { font-family: Minecraft; src: url('Fonts/minecraft.ttf'); }

.titulo{
	height: 50px;
	background-color: black;
	text-align: center; 
	font-size: 40px;
	border: 2px solid black;
	color:white;
	font-family:Minecraft;
}

#icono{
    width:25px;
}
#car{
    width:40px;
}
body{
	margin: 0px;
}
h1{
	margin: 0px;
}


hr{
margin:0px;}

#screen{
    padding:35px;
    background-color: rgb(182, 182, 170);
    width: 100%;
    height:100%;
}