@font-face { font-family: Minecraft; src: url('../Fonts/minecraft.ttf'); }

#search_bar{
    padding-right:95%;
    background-color:black;
    color:white;
    border:none;
}

body{
background-color:black;
}

#search{
    border:2px solid white;
    border-radius: 10px;
    background-color:grey;
    color:black;
}