@font-face { font-family: Minecraft; src: url('../Fonts/minecraft.ttf'); }

#search_bar{
    padding-right:80%;
    background-color:black;
    color:white;
    border:1px solid rgb(0, 0, 50, 0.8);
}

body{
    background-color:black;
}

#search{
    border:1px solid white;
    border-radius: 1px;
    background-color:grey;
    color:black;
}