@font-face { font-family: Minecraft; src: url('../Fonts/minecraft.ttf'); }

.player_container{
	background-color: black;
	border: 2px solid orange;
	border-radius:20px;
	display: inline-block;
	width: 150px;
	margin-right: 20px;
	margin-bottom:20px;
	transition:width 0.0s, background-color 0.3s;
	padding:5px;
}

.player_display{
	display: inline-block;
}

.player_name{
	font-size: 30px;
	font-family:Minecraft;
	color: white;
}

.player_title_container{
	text-align: center;
}

.player_skin{
	width: 50;
	height:300px;
}

.hearts{
    height:15px;
}

.player_container:hover{
    background-color:orange;
    color:white;
    width: 300px;
    margin-right:0px;
    padding-right:0px;
    border-radius:0px;
}

.player_estadistics{
    color:white;
    display:none;
    font-family:Minecraft;
}

.player_container:hover .player_estadistics {
    display:inline-block;
    color:black;
}
