.player_container{
	background-color: rgb(50, 50, 52);
	border: 2px solid orange;
	display: inline-block;
	width: 150px;
	margin-right: 20px;
	margin-bottom:10px;
	transition:width 0.5s;
	padding:5px;
}

.player_display{
	display: inline-block;
}

.player_estadistics{
    height:100%;
	display: inline-block;
}

.player_name{
	font-size: 30px;
	font-family:Minecraft;
	color: white
}

.player_title_container{
	text-align: center;
}

.player_skin{
	width: 50;
	height:300px;
}

.hearts{
    height:15px;
}

.player_container:hover{
    background-color:orange;
    color:white;
    width: 200px;
}